{% extends "base.html" %}
{% block head %}
<title>Welcome</title>
<style>
   .center-grid {
   display: grid;
   place-items: center;
   }
   .content-area {
   height: calc(100vh - 200px);
   }
   .define-title {
   font-size: 2.2rem;
   font-weight: 300;
   letter-spacing: 10px;
   color: #990000;
   margin-top: 1rem;
   }
   .highlight {
   color: #660000;
   }
    .highlight_box {
        background: rgb(255, 255, 255);
        padding: 1.8rem 2rem;
        border-radius: 12px;
        backdrop-filter: blur(4px);
        box-shadow: 0 0 20px rgba(0,0,0,0.25);
        margin-top: 1rem;
    }
</style>
{% endblock %}
{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5 center-grid content-area">
   <div class="col-10 col-sm-8 col-lg-6">
      <img src="/static/medieval_justice.png" class="d-block mx-lg-auto img-fluid" alt="Is This Really Just?" width="700" height="500" loading="lazy" style="border-radius: 10px;"> 
      <h3 class="define-title highlight_box" style="color: #660000;">This Does Not. Look. Just.</h3>
   </div>
   <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Define <span class="highlight">Justice:</span></h1>
      <ol>
         <li>
            <p class="lead">Just behaviour or treatment:</p>
            <ul>
               <li>"a concern for justice, peace, and genuine respect for people"</li>
            </ul>
         </li>
      </ol>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
         <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/credits">Credits</a> 
         <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://github.com/methecoderyeah/There-Will-Be-Wolves">GitHub Repository</a> 
      </div>
   </div>
</div>
{% endblock %}