{% extends "base.html" %}
{% block head %}
<title>Sources</title>
{% endblock %}
{% block content %}
<div style="padding-top: 25vh;">
    <h1>Sources:</h1>
    <h6>*Note: These are only sources for Ien's essay. The sources for mine are included in the actual text.</h6>
    <hr>
    <ul>
        <li>World History Encyclopedia</li>
        <li>Brittanica</li>
        <li>The British Library</li>
        <li>Cambrilearn USA</li>
        <li>World history Edu</li>
        <li>BBC history</li>
        <li>History learning site UK</li>
        <li>History learning site</li>
    </ul>
</div>
{% endblock %}