{% extends "base.html" %}
{% block head %}
<title>What is Justice?</title>
{% endblock %}

{% block content %}
<div class="essay-text container">
    <h1>What is Justice?</h1>
    <hr>
    <div>
        <h3>Introduction</h3>
        <p style="padding-left: 3vw;" class="indent">What is “justice”? For thousands of years, human beings have pondered that question. Justice is one of those words that is easy to define but hard to elucidate. Its definition is fluid, always changing. As a matter of fact, the judicial system we have today may be considered obsolete in a few hundred years. Since we can’t completely accurately state what justice is — and because this essay will mainly be looking at the concept of justice from a philosophical standpoint —, for the rest of this essay, “justice” will be enclosed within quotation marks.</p>
    </div>
    <hr>

    <div>
        <h3>Innate Justice?</h3>
        <p style="padding-left: 3vw;" class="indent">Interestingly, the idea of “justice” seems to intrinsically occur throughout the human race. Frequently, we hear children saying things like “That’s not fair!”. A famous experiment conducted on this is the “Puppet Fairness Experiment”[1], in which researchers set a bin filled with small buckets in front of a three year old toddler. Each bucket contained an amount of coins. Afterwards, the toddlers used small fishing rods to hook the buckets in front of them out of the tank. At this point, they were given a sticker for each coin they collected and were presented with the opportunity to split their coins with the puppet. Through many iterations of this experiment, researchers found that the toddlers tended to give their puppet more — or less — stickers depending on how many coins the puppet acquired, suggesting an innate idea of “justice”.</p>
	    <p style="padding-left: 3vw;" class="indent">Another interesting thing to note is that humans do not seem to be the only species that has a sense of “justice”[2]. Monkeys, when given a lesser prize for completing the same task as another monkey — especially when the prize is given by a human and not a feeding machine — , tend to react violently[3]. This piece of empirical evidence shows that the ideas of “justice” and fairness are not endemic to the human race.</p>
        <p style="padding-left: 3vw;" class="indent">Notably, when the monkeys were given more than another monkey, they also were less content. But why? Why do humans and animals care if a conspecific receives unjust treatment when it does not negatively affect them – or even positively affects them –? As Dr. Sarah Brosnan stated in the podcast “Let’s Talk About Psychology", this evolutionary trait may have developed to benefit the individual long-term[4]. By showing concern and support for another conspecific when they receive unjust treatment, one builds a relationship with the recipient of the unfair treatment, thus benefiting them long-term. Although this is an extremely cynical way of looking at things, it does explain why we, as human beings, harbor concern for others.</p></p>
    </div>
    <hr>

    <div>
        <h3>Back to the Main Topic… but not really (my condolences if you really thought that I would stop speaking about non-sequiter matters)</h3>
        <p style="padding-left: 3vw;" class="indent">So, what is “justice”? Firstly, before we determine the answer to that question, we must determine whether “justice” really is something that we should aim for. At first, the answer seems intuitive — but consider the antonyms of “justice”. “Mercy”, "leniency", “charity”. Are those not values we also hope to embody? And how can the antonym of a good thing still be good?</p>
        <p style="padding-left: 3vw;" class="indent">Throughout the history of humanity, “justice” has been something that involves punishment, repercussions, and reprisals. It seeks to prioritize order over fairness, and although “justice” and “fairness” can be used under the same contexts, “justice” seeks to instill fear, while fairness does not. And instead of focusing on improvement, “justice” focuses on punishment. “Justice” also gives an excuse for cruelty, sometimes causing more harm than it does good. And, despite our best efforts, no modern judicial system is completely free of bias or completely neutral. Can something like this really be good?</p>
        <p style="padding-left: 3vw;" class="indent">Although that is an eloquent argument, of course “justice” is good. Even the most rudimentary government employs some system of “justice”. No government can function without “justice”. With no “justice”, there is no order. And with no order, there is no stability. And without stability, the development of technology stagnates like it did during the dark ages.</p>
        <p style="padding-left: 3vw;" class="indent">However, it is imperative to note that our “justice” system is less than ideal, and that “justice” may not be the best method of preventing crime.</p>
    </div>
    <hr>

    <div>
        <h3>Main Topic (Finally)</h3>
        <p style="padding-left: 3vw;" class="indent">With all this in mind, we can begin to answer the question of what “justice” really is. At its very base, “justice” is “the treatment of individuals fairly[7]” There are many ideas of where “justice” should be derived from, from religion to natural law. Over the next few paragraphs, we will briefly discuss some of these ideas.</p>
        <p style="padding-left: 3vw;" class="indent">One of the most interesting forms of “justice” is Utilitarian justice. Under the principles of Utilitarian justice, “justice” should seek to maximize the well being of the general population. Utilitarian justice has three ways of achieving this. Firstly, Utilitarian justice aims to deter people by instilling fear of the reprisals of their actions. Secondly, Utilitarian justice rehabilitates people by punishing them in ways that educate them not to commit crimes. Tertiarily, Utilitarian justice imprisons those who cannot be rehabilitated, ensuring that they do not cause further harm in the future. By Utilitarian “justice”, anything that profits the greater good of the general population should be enacted. Because of this, punishment, no matter how severe, should be carried out. This may lead to innocent people being punished, or people who committed minor crimes being punished severely.</p>
        <p style="padding-left: 3vw;" class="indent">The second major form of “justice” is Retributive justice. In Retributive justice”, offenders of a crime should be punished in a way that mirrors the crime they committed[8] — “an eye for an eye”. Retributive justice is targeted less at an individual and more at the crimes that the individual has committed. It is the only judicial system that is intrinsically free of bias. Retributive justice punishes the offender, discourages committing crime, and typically makes the offender compensate the victim. The basis of Retributive justice is natural law[9] in that an offender must receive the punishment equal to the pain he/she inflicted on another.</p>
        <p style="padding-left: 3vw;" class="indent">The third and final major form of “justice” is Retributive and Restorative justice. According to its principals, Retributive justice, as aforementioned, seeks revenge instead of change. As such, it is an ineffective way of carrying out justice. Retributive justice aims to rehabilitate offenders while also repairing the harm that was done to the victim and/or their family</p>
    </div>
    <hr>

    <div>
        <h3>Resolution</h3>
        <p style="padding-left: 3vw;" class="indent">So, what is “justice”? Ultimately, “justice” is based upon perspective, and it doesn’t just operate at one level. There are many systems for “justice” and many different beliefs of what “justice” is, as well as if we should even strive for it. At the end of the day, one must decide for themselves.</p>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        ~~~ end ~~~
    </div>
    <div>
        <h3></h3>
        <p style="padding-left: 3vw;" class="indent"></p>
    </div>
</div>
{% endblock %}